DATABASE_URL=postgresql://boilerplate_nuxt:boilerplate_nuxt@localhost:5434/db_boilerplate_nuxt

NUXT_AUTH_ACCESS_TOKEN_SECRET=change-me-access-secret
NUXT_AUTH_REFRESH_TOKEN_SECRET=change-me-refresh-secret
NUXT_AUTH_ACCESS_TOKEN_TTL=15m
NUXT_AUTH_REFRESH_TOKEN_TTL=7d

MAILPIT_SERVER_USER=user_boilerplate
MAILPIT_SERVER_PASSWORD=pass_boilerplate
MAILPIT_FROM=noreply.boilerplate@app.com
MAILPIT_SERVER_HOST=127.0.0.1
MAILPIT_UI_PORT=8026
MAILPIT_SMTP_PORT=1026
MAILPIT_SMTP_AUTH_ACCEPT_ANY=false
MAILPIT_SECURE=false
MAILPIT_MAX_MESSAGES=500

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
STORAGE_PROVIDER=minio
STORAGE_ENDPOINT=http://localhost:9000
STORAGE_ACCESS_KEY=minioadmin
STORAGE_SECRET_KEY=minioadmin
STORAGE_REGION=us-east-1
STORAGE_BUCKET=boilerplate-uploads
STORAGE_PRESIGNED_UPLOAD_EXPIRATION_MINUTES=10
STORAGE_PRESIGNED_DOWNLOAD_EXPIRATION_MINUTES=10
STORAGE_MAX_FILE_SIZE_MB=10

NUXT_PUBLIC_APP_URL=http://localhost:3000
